{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <article>
    <pre>
      {{ dump(mmovie) }}
    </pre>
    <h2> {{movie.title}} </h2>
    <p> {{movie.overview}} </p>
  </article>

{% endblock %}
